service: aws-rag-system

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "s3:*"
        - "es:*"
        - "comprehend:*"
      Resource: "*"

functions:
  uploadDocument:
    handler: lambda_functions/upload_document.lambda_handler
    events:
      - http:
          path: documents
          method: post

  searchDocument:
    handler: lambda_functions/search_document.lambda_handler
    events:
      - http:
          path: search
          method: get
          request:
            parameters:
              querystrings:
                query: true

  generateResponse:
    handler: lambda_functions/generate_response.lambda_handler
    events:
      - http:
          path: generate
          method: post

  analyzeText:
    handler: comprehend/analyze_text.lambda_handler
    events:
      - http:
          path: analyze
          method: post

resources:
  Resources:
    DocumentsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: rag-documents

    ElasticSearchDomain:
      Type: AWS::Elasticsearch::Domain
      Properties:
        DomainName: rag-documents
        ElasticsearchVersion: 7.7
        ElasticsearchClusterConfig:
          InstanceType: t3.small.elasticsearch
          InstanceCount: 1
        EBSOptions:
          EBSEnabled: true
          VolumeSize: 10
          VolumeType: gp2
        AccessPolicies:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal: '*'
              Action: 'es:*'
              Resource: arn:aws:es:us-east-1:YOUR_ACCOUNT_ID:domain/rag-documents/*
